@if (User.Identity.IsAuthenticated)
{
    <h1>You are logged in as @User.Identity.Name</h1>

    <p><a asp-action="JoinProject" asp-route-ProjId="@ViewBag.ParticipatingIn.Id">You are participating in: @ViewBag.ParticipatingIn.Name</a></p>


    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h2>Projects in Progress</h2>
                @foreach (var project in ViewBag.inProgress)
                {
                    <p>@project.Name</p>
                    <p>______</p>
                }
            </div>

            <div class="col-xs-6">
                <h2>Projects Accepting Participants</h2>
                @foreach (var project in ViewBag.AcceptingParticipants)
                {
                    <p><a asp-action="JoinProject" asp-route-ProjId="@project.Id">@project.Name</a></p>
                    //Html.ActionLink(@pr)
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-primary" asp-action="CreateProject">Create Project</a>
            </div>
        </div>
    </div>

    ///////////////
    <head>
        <meta charset="utf-8" />
        <title>Real-Time Notifications</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>

    </head>

    <body>
        <h1>This should be mapped to "/notifications"</h1>
        <input type=text id="textInput" placeholder="Enter your text" />
        <button id="sendButton">Send</button>

        <ul id="messages"></ul>

        <script language="javascript" type="text/javascript">
        var uri = "ws://" + window.location.host + "/notifications";

        function connect() {
            socket = new WebSocket(uri);

            socket.onopen = function(event) {
                console.log("opened connection to " + uri);
            };

            socket.onclose = function(event) {
                console.log("closed connection from " + uri);
            };

            socket.onmessage = function(event) {
                appendItem(list, event.data);
                console.log(event.data);
            };

            socket.onerror = function(event) {
                console.log("error: " + event.data);
            };
        }
        connect();

            var list = document.getElementById("messages");
            var button = document.getElementById("sendButton");
            var input = document.getElementById("textInput");

            button.addEventListener("click", function() {

            
            sendMessage(input.value);

            input.value = "";
            });

            input.addEventListener("keypress", function (e) {
                var key = e.which || e.keyCode;
                if (key === 13)
                {
                    var input = document.getElementById("textInput");
                    sendMessage(input.value);

                    input.value = "";
                }
            });

        function sendMessage(message) {
            console.log("Sending: " + message);
            if (message.length == 0)
            {
                return;
            }
            $.ajax({
                url: "http://" + window.location.host + "/api/socketmessages/sendmessage?message=" + message,
                method: 'GET'
            });
        }

        function appendItem(list, message) {
            var item = document.createElement("li");
            item.appendChild(document.createTextNode(message));
            list.appendChild(item);
        }


        </script>
    </body>
    ///////////

}
else
{
    ViewBag.title = "Lobby";
    <h1> You must login to view project lobby</h1>
}


