@if (User.Identity.IsAuthenticated)
{
    <h1>You are logged in as @User.Identity.Name</h1>

    <p><a asp-action="JoinProject" asp-route-ProjId="@ViewBag.ParticipatingIn.Id">You are participating in: @ViewBag.ParticipatingIn.Name</a></p>


    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h2>Projects in Progress</h2>
                @foreach (var project in ViewBag.inProgress)
                {
                    <p>@project.Name</p>
                    <p>______</p>
                }
            </div>

            <div class="col-xs-6">
                <h2>Projects Accepting Participants</h2>
                @foreach (var project in ViewBag.AcceptingParticipants)
                {
                    <p><a asp-action="JoinProject" asp-route-ProjId="@project.Id">@project.Name</a></p>
                    //Html.ActionLink(@pr)
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-primary" asp-action="CreateProject">Create Project</a>
            </div>
        </div>
    </div>

}
else
{
    ViewBag.title = "Lobby";
    <h1> You must login to view project lobby</h1>
}


